/* This was not working that's why I added the colors-waybar.css one*/
/* @import url("/home/shawaiz/.cache/wal/colors.css"); */

@import url("/home/shawaiz/.cache/wal/colors-waybar.css");

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: alpha(@background, 0.8);
}

button {
	border-radius: 0;
	font-size: 1.5rem;
	border-color: @color5;
	text-decoration-color: #FFFFFF;
	color: @foreground;
	background-color: alpha(@background, 0.5);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 0.5rem;
}

/* button:focus, */
/* button:active, */
button:hover {
	background-color: alpha(@color5, 0.7);
	outline-style: none;
}

#lock {
	background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
	background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
	background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
	background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
	background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}