@import url("/home/shawaiz/.cache/wal/colors-waybar.css");

* {
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: alpha(@background, 0.8);
    background: transparent;
}

window {
    all: unset;
    padding: 1.2rem;
    border-radius: 0px;
    border: 0.1rem solid @color5;
    background-color: alpha(@background, 0.7);
    border-radius: 0.5rem;
}

#inner-box {
    padding: 1.5rem;
    border: none;
}

#outer-box {
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}

#input {
    all: unset;
    margin: 2rem 2rem -1rem 2rem;
    padding: 1.2rem;
    border-bottom: 0.05rem solid alpha(@foreground, 0.7);
    outline: none;
    color: @foreground;
}

#input image {
    border: none;
    margin-right: 1rem;
    color: @color5;
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border-bottom: 0.05rem solid @foreground;
}

#text {
    margin: 5px;
    border: none;
    color: @foreground;
    outline: none;
}

#entry {
    border: none;
    margin: 0.5rem;
    padding: 0.8rem;
}

#entry arrow {
    border: none;
    color: @color5;
}

#entry image {
    margin: 0 0.5rem 0 1rem;
}

#entry:selected {
    border: none;
    background-color: alpha(@background, 0.7);
}

#entry:selected #text {
    color: @color5;
}