@import url("~/.cache/wal/colors.css");

* {
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: rgba(10, 18, 10, 0.7);
    background: transparent;
}

window {
    all: unset;
    padding: 1.2rem;
    border-radius: 0px;
    border: 0.1rem solid #60FF88;
    background-color: rgba(10, 18, 10, 0.7);
    border-radius: 0.5rem;
}

#inner-box {
    padding: 1.5rem;
    border: none;
}

#outer-box {
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}

#input {
    all: unset;
    margin: 2rem 2rem -1rem 2rem;
    padding: 1.2rem;
    border-bottom: 0.05rem solid alpha(#f4f4f4, 0.7);
    outline: none;
    color: #f4f4f4;
    background-color: rgba(10, 18, 10, 0.7);
}

#input image {
    border: none;
    margin-right: 1rem;
    color: #60FF88;
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border-bottom: 0.05rem solid #f4f4f4;
}

#text {
    margin: 5px;
    border: none;
    color: #f4f4f4;
    outline: none;
}

#entry {
    border: none;
    margin: 0.5rem;
    padding: 0.8rem;
}

#entry arrow {
    border: none;
    color: #60FF88;
}

#entry image {
    margin: 0 0.5rem 0 1rem;
}

#entry:selected {
    border: none;
    background-color: rgba(10, 18, 10, 0.7);
}

#entry:selected #text {
    color: #60FF88;
}