* {
    min-height: 0;
    margin: 0;
    padding: 0;
}

.main-header-container {
    background-color: rgb(105, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 4rem;
    color: #f4f4f4;
}

.nav-bar-container {
    
}